@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'dogica' ;
    src: url('fonts/dogica/TTF/dogicapixel.ttf') format(truetype), url('fonts/dogica/OTF/dogicapixel.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    background-color: var(--cor-fundo);
    color: white;
    padding: 0px;
    font-weight: normal;
    

 }
 .body
 {
    
    margin: 0px auto;
    
    
    justify-content: center;
    align-items: center;
    justify-items: center;

    
    
    
 }
:root{
    --cor-fundo: #141616;
    --cor-menu: rgb(245 184 0);
    --cor-transparente:none;
 }

.icon img{
    position: relative;
    display: flex;
    width: 35px;
    height: 35px;
    background-color: transparent;
}

.nav-bar
{
    width: 118px;
    height: 295px;
    bottom: 65%;
    right: 17px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.438);
    transform: translateY(0px);
    animation: float 8s ease-in-out infinite;
}
.nav-bar ul{
    height: 236px;
    display: flex;
    list-style: none;
    border-radius: 20px;
    background-color: #f5b800;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list {
    position: relative;
    display: flex; 
    list-style: none;     
    background-color: #f5b800;;
    

}

.nav-bar span{ 
    margin-block: 18px;
    width: 50px;
    height: 50px;

    align-items: center;
    justify-content: center;
    display: flex;
   background-color: transparent;
    border-radius: 60%;
    transition: background-color 1s;
        
}
.nav-bar span:hover{
    background-color: rgba(255, 255, 255, 0.603);
    
}
.nav-bar a{
    display: flex;
    position: relative;
    background-color: transparent;
}
#ilumina{
    display: flex;
    background: rgb(253, 253, 253);
    width: 150px;
    height: 56px;
    position: absolute;
    border-radius: 25px;
    right: 17px;
    bottom: 2%;
}
#bola{ 
    width: 50px;
    margin-top: 1px;
    background: #eb1313;
    border-radius: 90%;
    height: 54px;
    cursor: pointer;
    transition: 1s ease-in;
    
}



.fundo
{       left: 514px;
    top: 61px;
    width: 873px;
    position: relative;
    display: flex;
    height: 779px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.300);
    background-size: cover;
    box-shadow: 0px 0px 2px 80px rgb(8 8 8 / 56%);
    border: solid 1px rgba(255, 255, 255, 0.380);
    justify-content: center;
    align-items: center;

    
}label{
    display: flex;
    position: absolute;

    
    
    background-color: transparent;
    background-size: cover;
    justify-content:center;
    align-items: center;

}

.fundo .player{
    margin: auto;
    position: absolute;
    width: 650px;
    height: 650px;
    background-color: transparent;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundo .player #eu-foto{
    margin: auto;
    display: flex;
    position: absolute;
    background-color: transparent;
    background-size: cover;
    width: 576px;
    height: 655px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}


@keyframes rotate{
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}

}
.fundo  #chec{
   
    position: absolute;
    display:none;
    transition: transform 2s;
    
    z-index: 1;
    
}
.fundo #chec:checked + #eu-foto{
    
    animation: rotate 4s linear infinite;
}
.tocador{

    width: 100px;
    height: 100px;
    background-color: rgb(245 184 0 / 36%);
    display: flex;
    position: absolute;
    margin: auto;
    z-index: 1;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0;

}
 .tocador .black{
   
    width: 40px;
    height: 40px;
    background-color: rgb(0 0 0);
    position: absolute;
    margin: auto;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.conteudo{
    position: absolute;
    z-index: 1;
    display: flex;
    background-color: #21212385;
    width: 104vh;
    height: 100vh;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    
}
.conteudo .txt{
    
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    
}
.conteudo .txt h1{
    font-family: 'Bebas Neue';
    background-color: transparent;        
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    margin-bottom: 5px;

}
.conteudo .txt h4{
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: 2px;
    background-color: transparent;        
    display: flex;
    text-align: center;
    justify-content: center;    
    font-size: 25px;
}
.conteudo .botão{
    display: flex;
    position: absolute;
    bottom: 250px;
    width: 350px;
    height: 150px;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.conteudo .botão li{
    background-color: transparent;
}
.conteudo .botão button {
    border-radius: 90px;
    border-color: transparent;
    box-shadow: 3px 3px 22px 9px rgb(0 0 0);
    width: 240px;
    height: 50px;
    margin-inline: 15px;
    background-color: rgb(245 184 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.conteudo .botão button:hover {
    transform: scale(1.1);

}
.conteudo .botão a{
   
    list-style: none;
    background-color: transparent;
    text-decoration: none;
    
}
.conteudo .botão a button p{
    display: flex; 
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    background-color: transparent;
   
   
}

#radio{
    position: absolute;
    display: flex;
    z-index: 1;
    background-color: transparent ;
    
    bottom: 11px;
    border: 0px solid;
    justify-content: center;
    align-items: center;
    justify-items: center;

    transform: translateY(0px);
    animation: float 4s ease-in-out infinite;

}
@keyframes float{
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

#botao{
    
    background-color: transparent;
    z-index: 1;
    border: hidden;
}
#botao img{
    cursor: pointer;
    
    transition: 5s;
    display: flex;
    width: 50px;
    background-color: transparent;

}
#botao img:checked{
    animation: rotate 1s linear infinite;
}
#menu-interativo{
    position: absolute;    
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: transparent;
}
#lista{
    

    flex-wrap: wrap;
    list-style: none;

    background-color:var(--cor-menu);
    display: flex;
    position:relative;

    width: 53px;
    height: 110px;
    border-radius: 10% ;
   

    bottom: 40px;

}
#lista li{
    display: inline-block;
    

    justify-content: center;
    background-color: transparent;
    
}
#radio #lista #walkmanli{

    
    position: relative;

    display: flex;
    margin: auto;
    
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: var(--cor-menu);
    
    

}
#radio #lista #walkman{
    cursor: pointer;
    border-radius: 25%;
    background-color: var(--cor-menu);
}
#walkman1{
   
    left: 55px;
    bottom: -68px;
    position: absolute;
    border-radius: 10%;
    width: 300px;
    height: 200px;
}
#caixa-walkman{
    background-color: #8073735e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    width: 300px;
    height: 100%;
}
#displayWalkman{
    background-color: #bb3535c7;
    width: 221px;
    height: 152px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
}


#walkman1 #mestre{
    margin-top: 5px;
    display: flex;
    height: 65px;
    width: 83px;
    margin-inline: auto;
    border-radius: 5px;
    
   
}#Descrição{
    
    height: 50px;
    font-size: 10px;
    display: flex;
    background-color: transparent;
    align-items: center;
    flex-direction: column-reverse;
   
}
#Descrição h2, i{ 

    color: black;
    font-family: dogica;
    background-color: transparent;
    font-size: 10px;
    margin: 5px 0px 5px;    
}
#duração{
    display: flex;
    align-items: center;
    width: 188px;
    
    margin-top: 12px;
    margin-inline: auto;

}
#barra{    
    display: flex;
    align-items: center;
    

    width: 225px;
    border: 1px solid whitesmoke;
    height: 9px;
    border-radius: 5px;
}
progress{
    background-color:var(--cor-fundo);
    height: 6px;
    width: 0%;
    
}
#ponto{
    width: 14px;
    height: 14px;
    border-radius: 50%;    
    background-color: white;
    margin-left: -10px;
}
#tempo{   
    font-size: 11px;
    position: absolute;
    width: 190px;
    display: flex;
    justify-content: SPACE-BETWEEN;
    top: 112px;
    background-color: transparent;
}
#tempo p{
    font-family: dogica;
    font-size: 8px;
    background-color: transparent;
}
#dandomusica .botao-play, .botao-pause{
    cursor: pointer;
    background-color: transparent;
    height: 22px;

}
.botao-pause{
    display: none;
}
#dandomusica .setas {
    background-color: transparent;
    cursor: pointer;
    height: 22px;
}
#dandomusica{
   
    margin-top: 5px;
    width: 210px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 29px;
    position: absolute;
    border-radius: 8px;
    top: 154px;
    background-color: rgba(187, 53, 53, 0.808);

}
#dandomusica .fas{
    background-color: rgba(252, 252, 255, 0.521);
    border-radius: 3px;
    width: 23px;
}
#somesquerdo{
    border-radius: 15px;
    height: 193px;
    width: 35px;
    right: 3px;
    top: 3px;
    background-color: rgba(252, 252, 255, 0.521);
    position: absolute;
}

#somdireito{
    border-radius: 15px;
    height: 193px;
    width: 35px;
    left: 3px;
    top: 3px;
    background-color: rgba(252, 252, 255, 0.521);
    
    position: absolute;
    
}

#radio #lista #ajudali
{

    
    position: relative;

    display: flex;
    margin: auto;
   
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: var(--cor-menu);

    

}#radio #lista #ajuda:hover{
    
    transform: scale(1.1);
    transition: 1s;
}
#radio #lista #walkman:hover{
    
    transform: scale(1.1);
    transition: 1s;
}
#radio #lista #ajuda{
    cursor: pointer;
    border-radius: 25%;
    background-color: var(--cor-menu);
}
#dialog{
    justify-content: flex-start;
  
    left: 55px;
    bottom: -120px;
    position: absolute;
    border-radius: 10%;
    
    width: 300px;
    height: 200px;

}
#dialog span p{

    position: relative;
    display: flex;
    left: 7px;
    height: 22px;
    width: 198px;
    background: red;
    border-radius: 50px;


}
#dialog span input{

    position: relative;
    display: flex;
    left: 17px;
    bottom: -118px;
    width: 255px;
    border-radius: 50px;
    border-color: white 5px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in.active {
    opacity: 1;
  }