@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'dogica' ;
    src: url('fonts/dogica/TTF/dogicapixel.ttf') format(truetype), url('fonts/dogica/OTF/dogicapixel.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family:'TrashHand' ;
    src:url('fonts/trashhand/TrashHand.TTF') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family:'Papernotes' ;
    src:url('fonts/papernotes/Papernotes.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
*{
    background-color: var(--cor-fundo);
    color: white;
    padding: 0px;
    font-weight: normal;
    margin: 0;
    

 }
 .body
 {
    
    margin: 0px auto;
    
    
    justify-content: center;
    align-items: center;
    justify-items: center;

    
    
    
 }
:root{ 
    --cor-neon: radial-gradient(circle, rgb(232 20 213 / 18%) 0%, rgb(176 84 27 / 8%) 40%, rgb(210 22 32 / 1%) 53%, rgb(232 101 20 / 1%) 100%);
    --cor-menu: #f5b800;
    --cor-text: white;
    --cor-fundo: #000000;
    --cor-transparente:transparent;
 }
 :root{
    --cor-menu-white: rgb(212, 200, 200);
 }

.icon img{
    z-index: 1;
    /* position: relative; */
    position: absolute;
    /* display: flex; */
    left: -74px;
    width: 211px;
    height: 171px;
    background-color: transparent;
}

.nav-bar
{    width: 54px;
    height: 116px;
    top: 73px;
    right: 87px;
    position: fixed;
    display: flex;
    border-radius: 10px;
    background-color: transparent;
    transform: translateY(0px);
    animation: float 8s ease-in-out infinite;
    justify-content: center;
    transition: background-color ;
}


.list {
   
    
    list-style: none;     
    
    

}

.nav-bar span{ 
    
    /* width: 50px; */
    /* height: 50px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    background-color: red;
    /* border-radius: 60%; */
    
}
.nav-bar:hover{
    box-shadow: 1px 1px 20px 20px rgba(140, 2, 253, 0.281);
    background-color: rgba(140, 2, 253, 0.281);
    
}
.nav-bar a{
    background-color: transparent;
}
#ilumina{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 96px;
    height: 34px;
    background: none;
   
    bottom: 2%;
    right: 26px;
}
#slider{
    position: relative;
    background: rgb(255, 255, 255);
    width: 94px;
    height: 34px;
    border: 2px solid #bbb;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: -3px 1px 14px 0px black;
    

}
#bola{
    position: absolute;
    background-color: var(--cor-menu);
    border: none;
    width: 29px;
    height: 31px;
    left: 3px;
    top: 2px;
    border-radius: 50%;
    pointer-events: none;
    transition: all 300ms ease-in-out;

}.toggle-input:checked ~#slider{
    background: #f5b800;
}
.toggle-input:checked ~#slider > #bola{
    left: 62px;
    background-color:white;
}
.toggle-input{
    display: none;
}


.fundo

{   
    background-image: url(/img/fundo\ 3\ test.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 690px;
    padding-bottom: 311px;
    background-color: transparent;
    
    /*display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 97vh;
    padding-top: 97px;*/
    
}

.fundo .player{
    
}
#eu-foto{
    /* z-index: 1; */
    background-color: transparent;
    height: 581px;
    position: absolute;
    width: 534px;
    right: 351px;
    /* top: 248px; */
    top: 35px;
}
#borda{
    position: absolute;
    width: 482px;
    z-index: 2;
    background: transparent;
    border: solid 30px  var(--cor-menu);;
    height: 604px;
    right: 310px;
    top: 181px;

}
#borda2{
    background: var(--cor-menu);
    position: absolute;
    width: 30px;
    height: 921px;
    right: 208px;
    top: 80px;
    box-shadow: 0px 0px 20px 1px #f5b800;
}
#bordaescura1{
    position: absolute;
    right: 191px;
    height: 949px;
    z-index: 1;
    width: 62px;
    box-shadow: -1px 6px 16px 10px #f5b80007;
    background-color: #f5b80007;
    /* background-color: transparent; */
    top: 61px;
}
#bordaescura2{
    position: absolute;
    right: 562px;
    height: 335px;
    z-index: 1;
    border-radius: 45%;
    box-shadow: 0px -1px 20px 17px #f5000006;
    width: 226px;
    background-color: #f5000006;
    top: 227px;
    z-index: 2;
    
}
#bordaescura3{
    position: absolute;
    right: 243px;
    height: 78px;
    z-index: 1;
    box-shadow: -1px 6px 16px 10px #f5b80007;
    background-color: #f5b80007;
    width: 1673px;
    top: 53px;
    z-index: 2;
}
#detalhe{
    z-index: 1;
    position: absolute;
    right: 209px;
    top: 80px;
    width: 1695px;
    height: 30px;
    box-shadow: -1px -1px 20px 2px #f5b800;
    background-color: var(--cor-menu);
}
#conteinerneon{
    height: 581px;
    border-radius: 300px;
    position: absolute;
    width: 534px;
    right: 408px;
    top: 214px;
    animation: neon1 1.5s ease-in infinite ;
    background: var(--cor-transparente);
}
    #imagemneon {
    width: 150px;
    margin-top: 119px;
    background-color: transparent;
    height: 150px;
    position: relative;
    margin-left: 68px;
    
}
@keyframes neon1{
    from {
        background: var(--cor-transparente);
    }
    to {
        background: radial-gradient(circle, rgb(232 20 213 / 18%) 0%, rgb(176 84 27 / 8%) 40%, rgb(210 22 32 / 1%) 53%, rgb(232 101 20 / 1%) 100%);
    }
}
#imagemneon img .fogo{
    position: absolute;
    background-color: transparent;
    width: 656px;
    height: 384px;
    left: -59px;
    top: -42px;
}

.conteudo{
    position: absolute;
    z-index: 1;
    display: flex;
    background-color: transparent;
    width: 104vh;
    height: 100vh;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    

    
}
.conteudo .txt{
    
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    
}
/*marcando*/
.conteudo .txt h1{
    font-family:'TrashHand' ;
    background-color: transparent;        
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 150px;
    margin-bottom: 5px;

}.conteudo .txt h2{
    font-family:'TrashHand' ;
    background-color: transparent;        
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 110px;
    margin-bottom: 5px;
    margin-inline: 8px;

}
.conteudo .txt i{
    font-size: 100px;
    display: flex;
    color: white;
    font-family: 'TrashHand';
    align-items: center;
    font-style: italic;
}
.conteudo .txt2{
    background-image: url(/img/bem\ vindo\ neon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: floate 4s ease-in-out infinite;
    /* background-color: transparent; */
    box-shadow: 1px 1px 20px 20px #f5b80007;
    background-color: #f5b80007;
    display: flex;
    width: 483px;
    height: 277px;
    border-radius: 39px;
    margin-left: 222px;
    justify-content: center;
    align-items: center;
}
@keyframes floate{
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.conteudo .txt h4{
    font-family:'Papernotes' ;
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: 2px;
    background-color: transparent;        
    display: flex;
    text-align: center;
    justify-content: center;    
    font-size: 25px;
}
.conteudo .botão{
    display: flex;
    position: absolute;
    bottom: 250px;
    width: 576px;
    height: 119px;
    border-radius: 129px;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: #f5b80007;
    box-shadow: 0px -1px 20px 17px #f5b80007;
}

.conteudo .botão li{
    background-color: transparent;
}
.conteudo .botão button {
    border-radius: 90px;
    border-color: transparent;
    box-shadow: -1px -1px 20px 1px #f5b800;
    width: 240px;
    height: 50px;
    margin-inline: 15px;
    background-color: var(--cor-menu);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.conteudo .botão button:hover {
    transform: scale(1.1);

}
.conteudo .botão a{
   
    list-style: none;
    background-color: transparent;
    text-decoration: none;
    
}
.conteudo .botão a button p{

    display: flex; 
    font-size: 22px;
    font-family:'Papernotes' ;
    background-color: transparent;
   
   
}

#radio{

    position: fixed;
    display: flex;
    z-index: 1;
    background-color: transparent ;
    
    bottom: 11px;
    border: 0px solid;
    justify-content: center;
    align-items: center;
    justify-items: center;

    transform: translateY(0px);
    animation: float 4s ease-in-out infinite;

}

@keyframes float{
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

#botao{
    
    background-color: transparent;
    z-index: 1;
    border: hidden;
}
#botao img{
    cursor: pointer;
    transition: 5s;
    display: flex;
    width: 50px;
    background-color: transparent;

}
#luzLampada{
    height: 38px;
    width: 35px;
    top: -5px;
    border-radius: 50%;
    left: 8px;
    position: absolute;
    /* box-shadow: 1px 1px 20px 20px #f5b80025; */
    background-color: transparent;
    cursor: pointer;
    transition: all 1s;
}
#luzLampada:hover{
    box-shadow: 1px 1px 20px 20px #f5b80025;
    background-color: #f5b80028;
}

#botao img:checked{
    animation: rotate 1s linear infinite;
}
#menu-interativo{
    position: absolute;    
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: transparent;
}
#lista{
    
    margin: 21px;
    flex-wrap: wrap;
    list-style: none;

    background-color:var(--cor-menu);
    display: flex;
    position:relative;

    width: 53px;
    height: 110px;
    border-radius: 10% ;
   

    bottom: 40px;

}
#lista li{
    display: inline-block;
    

    justify-content: center;
    background-color: transparent;
    
}
#radio #lista #walkmanli{

    
    position: relative;

    display: flex;
    margin: auto;
    
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: var(--cor-menu);
    
    

}
#radio #lista #walkman{
    cursor: pointer;
    border-radius: 25%;
    background-color: var(--cor-menu);
}
#walkman1{
   
    left: 55px;
    bottom: -68px;
    position: absolute;
    border-radius: 10%;
    width: 300px;
    height: 200px;
}
#caixa-walkman{
    background-color: #8073735e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    width: 300px;
    height: 100%;
}
#displayWalkman{
    background-color: #bb3535c7;
    width: 221px;
    height: 152px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
}


#walkman1 #mestre{
    margin-top: 5px;
    display: flex;
    height: 65px;
    width: 83px;
    margin-inline: auto;
    border-radius: 5px;
    
   
}#Descrição{
    
    height: 50px;
    font-size: 10px;
    display: flex;
    background-color: transparent;
    align-items: center;
    flex-direction: column-reverse;
   
}
#Descrição h2, i{ 

    color: black;
    font-family: dogica;
    background-color: transparent;
    font-size: 10px;
    margin: 5px 0px 5px;    
}
#duração{
    display: flex;
    align-items: center;
    width: 188px;
    
    margin-top: 12px;
    margin-inline: auto;

}
#barra{    
    display: flex;
    align-items: center;
    

    width: 225px;
    border: 1px solid whitesmoke;
    height: 9px;
    border-radius: 5px;
}
progress{
    background-color:var(--cor-fundo);
    height: 6px;
    width: 0%;
    
}
#ponto{
    width: 14px;
    height: 14px;
    border-radius: 50%;    
    background-color: white;
    margin-left: -10px;
}
#tempo{   
    font-size: 11px;
    position: absolute;
    width: 190px;
    display: flex;
    justify-content: SPACE-BETWEEN;
    top: 112px;
    background-color: transparent;
}
#tempo p{
    font-family: dogica;
    font-size: 8px;
    background-color: transparent;
}
#dandomusica .botao-play, .botao-pause{
    cursor: pointer;
    background-color: transparent;
    height: 22px;

}
.botao-pause{
    display: none;
}
#dandomusica .setas {
    background-color: transparent;
    cursor: pointer;
    height: 22px;
}
#dandomusica{
   
    margin-top: 5px;
    width: 210px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 29px;
    position: absolute;
    border-radius: 8px;
    top: 154px;
    background-color: rgba(187, 53, 53, 0.808);

}
#dandomusica .fas{
    background-color: rgba(252, 252, 255, 0.521);
    border-radius: 3px;
    width: 23px;
}
#somesquerdo{
    border-radius: 15px;
    height: 193px;
    width: 35px;
    right: 3px;
    top: 3px;
    background-color: rgba(252, 252, 255, 0.521);
    position: absolute;
}

#somdireito{
    border-radius: 15px;
    height: 193px;
    width: 35px;
    left: 3px;
    top: 3px;
    background-color: rgba(252, 252, 255, 0.521);
    
    position: absolute;
    
}

#radio #lista #ajudali
{

    
    position: relative;

    display: flex;
    margin: auto;
   
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: var(--cor-menu);

    

}#radio #lista #ajuda:hover{
    
    transform: scale(1.1);
    transition: 1s;
}
#radio #lista #walkman:hover{
    
    transform: scale(1.1);
    transition: 1s;
}
#radio #lista #ajuda{
    cursor: pointer;
    border-radius: 25%;
    background-color: var(--cor-menu);
}
#dialog{
    justify-content: flex-start;
  
    left: 55px;
    bottom: -120px;
    position: absolute;
    border-radius: 10%;
    
    width: 300px;
    height: 200px;

}
#dialog span p{

    position: relative;
    display: flex;
    left: 7px;
    height: 22px;
    width: 198px;
    background: red;
    border-radius: 50px;


}
#dialog span input{

    position: relative;
    display: flex;
    left: 17px;
    bottom: -118px;
    width: 255px;
    border-radius: 50px;
    border-color: white 5px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in.active {
    opacity: 1;
  }
  .text-center{
    text-align: center;
    background: transparent;
  }
  #fundo2{
    background-image: url(/img/fundoceuimg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    padding-top: 336px;
    padding-bottom: 311px;
    background-color: transparent;
    color: yellow;
  }
  #row{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #content-site{
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #content-site img{
    background-color: transparent;
    width: 371px;
    height: 383px;
  }
  #caption, #coluna1, #tumbnail, #col-sm-1, h1,h3,p{

    background-color: transparent;
  }#fundo3{
    background-image: url(/img/estrelas\ do\ fundo\ 3.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: yellow;
    padding-top: 336px;
    padding-bottom: 311px;
    background-color: transparent;
  }
  #rodapé{
    
    position: relative;
    text-align: center;
    height: 235px;
  }
  #comentario{
    left: 52px;
    top: 26px;
    display: flex;
    color: black;
    /* text-align: center; */
    /* justify-items: center; */
    height: 104px;
    background-color: #f5b800;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
  }
  #coluna4{
    text-align: center;
    display: flex;
    flex-direction: column;
  }